@use 'sass:list';
@use '../config/settings';

$breakpointsList: (
        sm: settings.$smallBreakpoint,
        md: settings.$mediumBreakpoint,
        lg: settings.$largeBreakpoint,
);

$breakpoints: (
        'small': [null,
    settings.$smallBreakpoint],
        'medium': [settings.$smallBreakpoint + 1px,
    settings.$mediumBreakpoint],
        'large': [settings.$mediumBreakpoint + 1px,
    settings.$largeBreakpoint],
        'xlarge': [settings.$largeBreakpoint + 1px,
    null],
);

:export {
  small: list.nth(map-get($breakpoints, 'small'), 2);
  medium: list.nth(map-get($breakpoints, 'medium'), 2);
  large: list.nth(map-get($breakpoints, 'large'), 2);
}
