$rel-unit: rem;
$global-unit: rem;

$smallBreakpoint: 768px;
$mediumBreakpoint: 1280px;
$largeBreakpoint: 1440px;

$transition-fast: 0.2s;
$transition-normal: 0.4s;
$transition-slow: 1s;
$transition-timing: ease-in-out;
