@use '../../styles/tools/rem.module' as rem;
@use '../../styles/tools/media.module' as media;

@import '~rfs/scss';

$font-sizes: (
    'xsmall': 12,
    'small': 14,
    'base': 16,
    'h6': 20,
    'h5': 24,
    'h4': 28,
    'h3': 32,
    'h2': 36,
    'h1': 40,
);

$default-font-weight: 400;

@function getFontSize($type) {
    @return map-get($font-sizes, $type);
}

@mixin h1 {
    font-size: rem.remSize(38);
    line-height: rem.remSize(38);
    font-weight: 700;

    @include media.respond-above(large) {
        @include rfs(getFontSize('h1'));
    }

    @include media.respond-above(medium) {
        @include rfs(getFontSize('h3'));
    }

    @include media.respond-above(small) {
        @include rfs(getFontSize('h5'));
    }
}

@mixin h2 {
    font-weight: $default-font-weight;
    line-height: 1.125;

    @include media.respond-above(large) {
        @include rfs(getFontSize('h2'));
    }

    @include media.respond-above(medium) {
        @include rfs(getFontSize('h4'));
    }

    @include media.respond-above(small) {
        @include rfs(getFontSize('h6'));
    }
}

@mixin h3 {
    font-weight: $default-font-weight;
    line-height: 1.125;

    @include media.respond-above(large) {
        @include rfs(getFontSize('h3'));
    }

    @include media.respond-above(medium) {
        @include rfs(getFontSize('h5'));
    }

    @include media.respond-above(small) {
        @include rfs(getFontSize('base'));
    }
}

@mixin h4 {
    font-weight: $default-font-weight;
    line-height: 1.125;

    @include media.respond-above(medium) {
        @include rfs(getFontSize('h4'));
    }

    @include media.respond-above(small) {
        @include rfs(getFontSize('h6'));
    }

    @include media.respond-above(small) {
        @include rfs(getFontSize('small'));
    }
}

@mixin h5 {
    font-weight: $default-font-weight;
    line-height: 1.25;

    @include media.respond-above(medium) {
        @include rfs(getFontSize('h5'));
    }

    @include media.respond-above(small) {
        @include rfs(getFontSize('base'));
    }
}

@mixin h6 {
    font-weight: $default-font-weight;
    line-height: 1.25;

    @include media.respond-above(medium) {
        @include rfs(getFontSize('h6'));
    }

    @include media.respond-above(small) {
        @include rfs(getFontSize('small'));
    }
}
