@font-face {
    font-family: 'Netflix Sans';
    font-display: fallback;
    src: url('../../assets/fonts/NetflixSansThin.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    font-display: fallback;
    src: url('../../assets/fonts/NetflixSansRegular.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    font-display: fallback;
    src: url('../../assets/fonts/NetflixSansMedium.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    font-display: fallback;
    src: url('../../assets/fonts/NetflixSansLight.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    font-display: fallback;
    src: url('../../assets/fonts/NetflixSansIcon.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    font-display: fallback;
    src: url('../../assets/fonts/NetflixSansBold.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    font-display: fallback;
    src: url('../../assets/fonts/NetflixSansBlack.ttf') format('ttf');
    font-style: normal;
}
